<link href="~/Content/egg.css" rel="stylesheet" />
<div class="row">
    <div class="col text-center">
        <h2 class="welcome_text">Welcome to the</h2>
        <h2 class="welcome_title">Golden Egg API</h2>
        <h4 class="welcome">@Html.ActionLink("Please click here to enter", "Index", "Swagger", new { area = "" }, null)</h4>

        <center><egg></egg></center>
    </div>
</div>